body {
    background:#fff;
    font-family:'Ubuntu', sans-serif;
    color:#000;
}
html {
    overflow-y: scroll;
}
h1 {
    margin-top:20px;
    margin-bottom:0;
    text-align:center;
    letter-spacing:2px;
}
.margined {
    width:1400px;
    max-width:98vw;
    margin:0 auto;
    padding-bottom:20px;
}
.button {
    background-color:#fff;
    color:#222;
    font-weight:600;
    letter-spacing:2px;
    font-size:24px;
    border-radius:5px;
    padding:20px;
    width:calc(((100% / 5) - 56px) - 6px);
    float:left;
    margin:20px 20px 0 20px;
    cursor:pointer;
    text-align:center;
    transition:.3s ease all;
    border:3px solid #222;
    user-select:none
}
.button:nth-of-type(1n) {
    margin-left:0;
}
.button:nth-of-type(5n) {
    margin-right:0;
}
.button:hover {
    transform:translateY(-5px) scale(1.03);
    -webkit-box-shadow: 0px 20px 64px -27px rgba(0,0,0,1);
    -moz-box-shadow: 0px 20px 64px -27px rgba(0,0,0,1);
    box-shadow: 0px 20px 64px -27px rgba(0,0,0,1);
}
.active-button {
    background:#222;
    color:#fff;
    -webkit-box-shadow: 0px 20px 64px -27px rgba(0,0,0,1);
    -moz-box-shadow: 0px 20px 64px -27px rgba(0,0,0,1);
    box-shadow: 0px 20px 64px -27px rgba(0,0,0,1);
    transform:translateY(-5px) scale(1.03);
}
h2 {
    text-align:center;
    letter-spacing:2px;
    display:none
}
table {
    width:100%;
    text-align:left;
    border-spacing: 0;
}
th {
    background:#fff;
    color:#222;
    padding:12px;
    font-size:18px;
    letter-spacing:1px;
    border-bottom:3px solid #222;
}
td {
    padding:6px 12px;
    letter-spacing:1px;
    font-size:18px;
    background:rgba(255,255,255,.7);
    color:#000;
}
input, option, select {
    float:left;
    margin:10px 40px 10px 0;
    padding:5px 10px;
    width:calc(50% - 20px);
    background:rgba(0,0,0,.1);
    border:1px solid rgba(255,255,255,.1);
    color:#000;
    font-family:inherit;
    font-size:18px;
    letter-spacing:1px;
}
button {
    width:100%;
    background:transparent;
    border:3px solid #222;
    color:#000;
    padding:10px;
    margin-top:10px;
    outline:0;
    font-size:20px;
    letter-spacing:1px;
    text-transform:uppercase;
    font-family:inherit;
    cursor:pointer;
    transition:.1s ease all;
}
button:hover {
    background:#222;
    color:#fff;
}
.resource-hire-sheet, .room-booking-sheet {
    display:none;
}
.result-text {
    text-align:center;
    font-size:18px;
}